<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.first_jetcompose">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Firstjetcompose"
        tools:targetApi="31">
        <activity
            android:name=".BottomAndDrawerActivity"
            android:exported="false"
            android:label="@string/title_activity_bottom_and_drawer"
            android:theme="@style/Theme.Firstjetcompose" />
        <activity
            android:name=".NavigationDrawer"
            android:exported="false"
            android:label="@string/title_activity_navigation_drawer"
            android:theme="@style/Theme.Firstjetcompose" />
        <activity
            android:name=".EditTextActivity"
            android:exported="false"
            android:label="@string/title_activity_edit_text"
            android:theme="@style/Theme.Firstjetcompose" />
        <activity
            android:name=".TabLayoutActivity"
            android:exported="false"
            android:label="@string/title_activity_tab_layout"
            android:theme="@style/Theme.Firstjetcompose" />
        <activity
            android:name=".BottomSheet"
            android:exported="false"
            android:label="@string/title_activity_bottom_sheet"
            android:theme="@style/Theme.Firstjetcompose" />
        <activity
            android:name=".SwitchesActivity"
            android:exported="false"
            android:label="@string/title_activity_switches"
            android:theme="@style/Theme.Firstjetcompose" />
        <activity
            android:name=".CustomBottomNavigation"
            android:exported="false"
            android:label="@string/title_activity_custom_bottom_navigation"
            android:theme="@style/Theme.Firstjetcompose" />
        <activity
            android:name=".ScreenOrientation"
            android:exported="false"
            android:label="@string/title_activity_screen_orientation"
            android:theme="@style/Theme.Firstjetcompose" />
        <activity
            android:name=".ShimmerActivity"
            android:exported="false"
            android:label="@string/title_activity_shimmer"
            android:theme="@style/Theme.Firstjetcompose" />
        <activity
            android:name=".AppNavbar"
            android:exported="false"
            android:label="@string/title_activity_app_navbar"
            android:theme="@style/Theme.Firstjetcompose" />
        <activity
            android:name=".ConstraintLayoutDemo"
            android:exported="false"
            android:label="@string/title_activity_constraint_layout"
            android:theme="@style/Theme.Firstjetcompose" />
        <activity
            android:name=".BottomNavigation"
            android:exported="false"
            android:label="@string/title_activity_bottom_navigation"
            android:theme="@style/Theme.Firstjetcompose" />
        <activity
            android:name=".NavigationActivity"
            android:exported="false"
            android:label="@string/title_activity_navigation"
            android:theme="@style/Theme.Firstjetcompose" />
        <activity
            android:name=".AutoImageSlider"
            android:exported="false"
            android:label="@string/title_activity_auto_image_slider"
            android:theme="@style/Theme.Firstjetcompose" />
        <activity
            android:name=".TextToSpeeches"
            android:exported="false"
            android:label="@string/title_activity_text_to_speech"
            android:theme="@style/Theme.Firstjetcompose" />
        <activity
            android:name=".ImageActivity"
            android:exported="false"
            android:label="@string/title_activity_image"
            android:theme="@style/Theme.Firstjetcompose" />
        <activity
            android:name=".GraphicsLayer"
            android:exported="false"
            android:label="@string/title_activity_graphics_layer"
            android:theme="@style/Theme.Firstjetcompose" />
        <activity
            android:name=".LazyGrid"
            android:exported="false"
            android:label="@string/title_activity_lazy_grid"
            android:theme="@style/Theme.Firstjetcompose" />
        <activity
            android:name=".BorderActivity"
            android:exported="false"
            android:label="@string/title_activity_button"
            android:theme="@style/Theme.Firstjetcompose" />
        <activity
            android:name=".DraggableActivity"
            android:exported="false"
            android:label="@string/title_activity_button"
            android:theme="@style/Theme.Firstjetcompose" />
        <activity
            android:name=".SecondActivity"
            android:exported="false"
            android:label="@string/title_activity_second"
            android:theme="@style/Theme.Firstjetcompose" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Firstjetcompose">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
