<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.first_jetcompose">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Firstjetcompose"
        tools:targetApi="31">
        <activity
            android:name=".AccountSwitcherActivity"
            android:exported="false"
            android:label="@string/title_activity_account_switcher"
            android:theme="@style/Theme.Firstjetcompose" />
        <activity
            android:name=".StickyHeaderActivity"
            android:exported="false"
            android:label="@string/title_activity_sticky_header"
            android:theme="@style/Theme.Firstjetcompose" />
        <activity
            android:name=".SegmentedControlActivity"
            android:exported="false"
            android:label="@string/title_activity_segmented_control"
            android:theme="@style/Theme.Firstjetcompose" />
        <activity
            android:name=".TextSpanningActivity"
            android:exported="false"
            android:label="@string/title_activity_text_spanning"
            android:theme="@style/Theme.Firstjetcompose" />
        <activity
            android:name=".ExpandableTextActivity"
            android:exported="false"
            android:label="@string/title_activity_expandable_text"
            android:theme="@style/Theme.Firstjetcompose" />
        <activity
            android:name=".MarkdownTextActivity"
            android:exported="false"
            android:label="@string/title_activity_markdown_text"
            android:theme="@style/Theme.Firstjetcompose" />
        <activity
            android:name=".SwipeToDismissActivity"
            android:exported="false"
            android:label="@string/title_activity_swipe_to_dismiss"
            android:theme="@style/Theme.Firstjetcompose" />
        <activity
            android:name=".FABActivity"
            android:exported="false"
            android:label="@string/title_activity_tool_tip_and_fab"
            android:theme="@style/Theme.Firstjetcompose" />
        <activity
            android:name=".CustomIndicators"
            android:exported="false"
            android:label="@string/title_activity_custom_indicators"
            android:theme="@style/Theme.Firstjetcompose" />
        <activity
            android:name=".RadioCheckActivity"
            android:exported="false"
            android:label="@string/title_activity_radio_check"
            android:theme="@style/Theme.Firstjetcompose" />
        <activity
            android:name=".PickerActivity"
            android:exported="false"
            android:label="@string/title_activity_picker"
            android:theme="@style/Theme.Firstjetcompose" />
        <activity
            android:name=".CustomCheckboxActivity"
            android:exported="false"
            android:label="@string/title_activity_custom_checkbox"
            android:theme="@style/Theme.Firstjetcompose" />
        <activity
            android:name=".CustomRadioButton"
            android:exported="false"
            android:label="@string/title_activity_custom_radio_button"
            android:theme="@style/Theme.Firstjetcompose" />
        <activity
            android:name=".FullScreenDialogActivity"
            android:exported="false"
            android:label="@string/title_activity_full_screen_dialog"
            android:theme="@style/Theme.Firstjetcompose" />
        <activity
            android:name=".LoadingAnimationScreen"
            android:exported="false"
            android:label="@string/title_activity_loading_animation_screen"
            android:theme="@style/Theme.Firstjetcompose" />
        <activity
            android:name=".DropDownActivity"
            android:exported="false"
            android:label="@string/title_activity_drop_down"
            android:theme="@style/Theme.Firstjetcompose" />
        <activity
            android:name=".AlertDialogActivity"
            android:exported="false"
            android:label="@string/title_activity_alert_dialog"
            android:theme="@style/Theme.Firstjetcompose" />
        <activity
            android:name=".ChartScreen"
            android:exported="false"
            android:label="@string/title_activity_chart_screen"
            android:theme="@style/Theme.Firstjetcompose" />
        <activity
            android:name=".CircularRevealWap"
            android:exported="false"
            android:label="@string/title_activity_circular_reveal_wapp"
            android:theme="@style/Theme.Firstjetcompose" />
        <activity
            android:name=".OtpTextField"
            android:exported="false"
            android:label="@string/title_activity_otp_text_field"
            android:theme="@style/Theme.Firstjetcompose" />
        <activity
            android:name=".SwipeToRefresh"
            android:exported="false"
            android:label="@string/title_activity_swipe_to_refresh"
            android:theme="@style/Theme.Firstjetcompose" />
        <activity
            android:name=".GradientActivity"
            android:exported="false"
            android:label="@string/title_activity_gradient"
            android:theme="@style/Theme.Firstjetcompose" />
        <activity
            android:name=".BottomAndDrawerActivity"
            android:exported="false"
            android:label="@string/title_activity_bottom_and_drawer"
            android:theme="@style/Theme.Firstjetcompose" />
        <activity
            android:name=".NavigationDrawer"
            android:exported="false"
            android:label="@string/title_activity_navigation_drawer"
            android:theme="@style/Theme.Firstjetcompose" />
        <activity
            android:name=".EditTextActivity"
            android:exported="false"
            android:label="@string/title_activity_edit_text"
            android:theme="@style/Theme.Firstjetcompose" />
        <activity
            android:name=".TabLayoutActivity"
            android:exported="false"
            android:label="@string/title_activity_tab_layout"
            android:theme="@style/Theme.Firstjetcompose" />
        <activity
            android:name=".BottomSheet"
            android:exported="false"
            android:label="@string/title_activity_bottom_sheet"
            android:theme="@style/Theme.Firstjetcompose" />
        <activity
            android:name=".SwitchesActivity"
            android:exported="false"
            android:label="@string/title_activity_switches"
            android:theme="@style/Theme.Firstjetcompose" />
        <activity
            android:name=".CustomBottomNavigation"
            android:exported="false"
            android:label="@string/title_activity_custom_bottom_navigation"
            android:theme="@style/Theme.Firstjetcompose" />
        <activity
            android:name=".ScreenOrientation"
            android:exported="false"
            android:label="@string/title_activity_screen_orientation"
            android:theme="@style/Theme.Firstjetcompose" />
        <activity
            android:name=".ShimmerActivity"
            android:exported="false"
            android:label="@string/title_activity_shimmer"
            android:theme="@style/Theme.Firstjetcompose" />
        <activity
            android:name=".TransparentStatusBar"
            android:exported="false"
            android:label="@string/title_activity_app_navbar"
            android:theme="@style/Theme.Firstjetcompose" />
        <activity
            android:name=".ConstraintLayoutDemo"
            android:exported="false"
            android:label="@string/title_activity_constraint_layout"
            android:theme="@style/Theme.Firstjetcompose" />
        <activity
            android:name=".BottomNavigation"
            android:exported="false"
            android:label="@string/title_activity_bottom_navigation"
            android:theme="@style/Theme.Firstjetcompose" />
        <activity
            android:name=".NavigationActivity"
            android:exported="false"
            android:label="@string/title_activity_navigation"
            android:theme="@style/Theme.Firstjetcompose" />
        <activity
            android:name=".AutoImageSlider"
            android:exported="false"
            android:label="@string/title_activity_auto_image_slider"
            android:theme="@style/Theme.Firstjetcompose" />
        <activity
            android:name=".TextToSpeeches"
            android:exported="false"
            android:label="@string/title_activity_text_to_speech"
            android:theme="@style/Theme.Firstjetcompose" />
        <activity
            android:name=".ImageActivity"
            android:exported="false"
            android:label="@string/title_activity_image"
            android:theme="@style/Theme.Firstjetcompose" />
        <activity
            android:name=".GraphicsLayer"
            android:exported="false"
            android:label="@string/title_activity_graphics_layer"
            android:theme="@style/Theme.Firstjetcompose" />
        <activity
            android:name=".LazyGrid"
            android:exported="false"
            android:label="@string/title_activity_lazy_grid"
            android:theme="@style/Theme.Firstjetcompose" />
        <activity
            android:name=".BorderActivity"
            android:exported="false"
            android:label="@string/title_activity_button"
            android:theme="@style/Theme.Firstjetcompose" />
        <activity
            android:name=".DraggableActivity"
            android:exported="false"
            android:label="@string/title_activity_button"
            android:theme="@style/Theme.Firstjetcompose" />
        <activity
            android:name=".SecondActivity"
            android:exported="false"
            android:label="@string/title_activity_second"
            android:theme="@style/Theme.Firstjetcompose" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Firstjetcompose">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>
    </application>

</manifest>
